<div class="sidebar noScrollbar">
    <div class="sidebarIconCont">
        <a href="../pages/index.html" style="display:grid; align-content: flex-start; justify-content: center;">
            <p style="font-weight: 1000; font-family: manrope;">StudentDashboard</p>
        </a>
    </div>

    <ul class="sidebarMenu">
        <h3>menu</h3>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/dashboard.svg" />
                </div>

                <a href="../pages/index.html">dashboard</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/graduation.svg" />
                </div>

                <a href="../pages/index.html">teachers</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/profile.svg" />
                </div>

                <a href="../pages/index.html">students</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/group.svg" />
                </div>

                <a href="../pages/calender.html">attendance</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/dollar.svg" />
                </div>

                <a href="../pages/calender.html">finance</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>

            <ul class="sidebarSubMenu">
                <li class="sidebarMenuItem">
                    <a href="../pages/index.html">sub menu 1</a>
                </li>

                <li class="sidebarMenuItem">
                    <a href="../pages/index.html">sub menu 2</a>
                </li>

                <li class="sidebarMenuItem">
                    <a href="../pages/index.html">sub menu 3</a>
                </li>

            </ul>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/list.svg" />
                </div>

                <a href="../pages/calender.html">notice</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/calendar.svg" />
                </div>

                <a href="../pages/calender.html">calender</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/book.svg" />
                </div>

                <a href="../pages/calender.html">library</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/message.svg" />
                </div>

                <a href="../pages/calender.html">message</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <h3>other</h3>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/profile.svg" />
                </div>

                <a href="../pages/index.html">profile</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/settings.svg" />
                </div>

                <a href="../pages/index.html">setting</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>

        <li class="sidebarMenuItem">
            <div class="sidebarMenuItemTopCont">
                <div>
                    <img alt="dashboard" src="../../public/exit.svg" />
                </div>

                <a href="../pages/index.html">log out</a>

                <div class="sidebarMenuItemChevron">
                    <img alt="dashboard" src="../../public/chevron.svg" style="width: 10px;" />
                </div>
            </div>
        </li>
    </ul>
</div>