@font-face {
    font-family: poppinsRegular;
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("fonts/Roboto.ttf");
}

@font-face {
    font-family: manrope;
    src: url("fonts/Manrope.ttf");
}

*:not(svg, svg *) {
    all: unset;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red !important; */
    /* each css block is spaced 50, sub blocks spaces 20 - each has a media query */
}

:root {
    --color1: #c4ebfa;
    --color2: #cecffd;
    --color3: #fff3fd;
    --color4: #fdf6d9;

    --bg1: #f7f8fa;
    --bg2: #ffffff;

    --shade1: #aeb0b1;
    --shade2: #2a2512;
    --shade3: #ffffff;

    /* es s r l el */

    /* zindex: 1, 10, 100, 1000, 9999 */

    /* sizes */
    --sizeS: .7rem;
    --sizeR: 1rem;

    /* font sizes */
    --fontSizeES: .5rem;
    --fontSizeS: .7rem;
    --fontSizeR: 1rem;

    /* padding */
    --paddingES: .2rem;
    --paddingS: .5rem;
    --paddingR: 1rem;

    /* gap */
    --gapES: .3rem;
    --gapS: .5rem;
    --gapR: 1rem;

    /* border radius */
    --borderRadiusES: .2rem;
    --borderRadiusS: .4rem;
    --borderRadiusR: 1rem;
    --borderRadiusL: 2rem;
    --borderRadiusEL: 50%;
}

head,
script {
    display: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    /* starts off none until js loads */
    display: none;
    overflow: clip;
    align-content: flex-start;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    position: relative;
    font-family: roboto;
}

div {
    display: block;
}

svg {
    width: var(--sizeR);
    aspect-ratio: 1/1;
    fill: var(--shade1);
    transition: scale 400ms;
}

svg:hover {
    scale: 1.05;
}

a {
    cursor: pointer;
}

h1 {
    /* title */
    font-family: manrope;
    text-transform: capitalize;
}

h2 {
    /* common headings */
    font-weight: bold;
    color: var(--shade2);
    font-size: var(--fontSizeR);
    font-family: manrope;
    text-transform: capitalize;
}

h3 {
    /* sub headings */
    font-weight: 400;
    font-family: roboto;
    color: var(--shade2) !important;
    font-size: var(--fontSizeR);
    text-transform: capitalize;
}

h4 {
    /* highlighted text */
    color: var(--shade1);
    font-size: var(--fontSizeS);
}

p {
    display: block;
}
















































/* custom classes */
.button1 {
    background-color: var(--color2);
    border-radius: var(--borderRadiusS);
    padding: var(--paddingES);
}

.input1,
.textarea1 {
    padding: var(--paddingR);
    border-radius: var(--borderRadiusES);
    border: 1px solid var(--shade1);
}

.input1:focus,
.textarea1:focus {
    outline: none;
}

.input1::placeholder,
.textarea1::placeholder {
    opacity: 0.5;
}

.allCont {
    display: grid;
    align-content: flex-start;
    gap: var(--gapR);
    padding: var(--paddingR);
    grid-template-columns: 1fr;
    background-color: var(--bg1);
}

.main {
    display: grid;
    align-content: flex-start;
    background-color: var(--bg2);
    padding: var(--paddingR);
    border-radius: var(--borderRadiusR);
}

.tag {
    padding: var(--paddingS);
    background-color: var(--tagColor, var(--color2));
    border-radius: var(--borderRadiusES);
}

.noScrollbar::-webkit-scrollbar {
    display: none;
}

/* mobile */
@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
}

















































/* specific components */

/* sidebar */
.sidebar {
    width: 200px;
    z-index: 1000;
    background-color: var(--bg2);
    padding: var(--paddingR);
    display: grid;
    align-content: flex-start;
    overflow: auto;
}

.sidebarIconCont {
    display: grid;
    align-content: flex-start;
    margin-bottom: 2rem;
}

.sidebarMenu {
    display: grid;
    align-content: flex-start;
    gap: var(--gapS);
}

.sidebarMenu>h3 {
    text-transform: uppercase;
    font-size: var(--fontSizeS);
    padding: var(--paddingS) var(--paddingR);
}

.sidebarMenuItem {
    display: grid;
    align-content: flex-start;
    padding: var(--paddingS) var(--paddingR);
    border-radius: var(--borderRadiusS);
    text-transform: capitalize;
    font-size: var(--fontSizeS);
}

.sidebarMenuItem:hover {
    background-color: var(--color1);
}

.sidebarMenuItem:hover .sidebarMenuItemChevron {
    rotate: 90deg;
}

.sidebarMenuItem>svg {
    fill: var(--shade1)
}

.sidebarMenuItem:focus .sidebarSubMenu,
.sidebarMenuItem:hover .sidebarSubMenu {
    display: grid;
}

.sidebarMenuItemTopCont {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--gapR);
}

.sidebarMenuItemTopCont img {
    object-fit: contain;
    display: block;
    aspect-ratio: 1/1;
    width: 15px;
}

.sidebarMenuItemChevron {
    transition: rotate 400ms;
}

.sidebarMenuItem:not(:has(.sidebarSubMenu)) .sidebarMenuItemChevron {
    /* chevron */
    display: none;
}

.sidebarSubMenu {
    display: none;
    align-content: flex-start;
    gap: var(--gapS);
    padding: var(--paddingR)
}
















/* navbar */
.navbar {
    background-color: var(--bg1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.navMenu {
    display: flex;
    gap: var(--gapR);
    position: relative;
    align-items: center;
}

.navMenuItem {
    display: grid;
    align-content: flex-start;
}

.navMoreOptionsCont {
    display: flex;
    gap: var(--gapS);
}


/* mobile */
@media only screen and (max-width: 800px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* display: none; */
    }

    .navMoreOptionsCont {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem;
        background-color: var(--bg2);
    }
}

















































/* pages */

/* home */



















/* calender */
.calender {
    display: grid;
    align-content: flex-start;
    overflow: auto;
}

.calenderTopCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateSelectorCont {
    display: flex;
    align-content: flex-start;
    background-color: var(--bg1);
    padding: var(--paddingS);
    border-radius: var(--borderRadiusES);
}

.dateSelectorOption {
    cursor: pointer;
}

.dateSelectorOption[data-selected="true"] {
    background-color: var(--color2);
}

.callenderSmallCont {
    display: grid;
    align-content: flex-start;
    border-radius: var(--borderRadiusR);
    padding: var(--paddingR);
    border: 3px solid var(--bg1);
}

.callenderSmallContTopCont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.callenderSmallContContent {
    display: grid;
    align-content: flex-start;
    gap: var(--gapS);
}

.calenderCont {
    display: grid;
    align-content: flex-start;
}

.calenderTable {
    display: grid;
    align-content: flex-start;
    border-bottom: 3px solid var(--bg1);
    border-right: 3px solid var(--bg1);
    border-radius: var(--borderRadiusR);
}

.calenderTable>tr {
    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(7, 1fr)
}

.calenderCell {
    display: grid;
    align-content: flex-start;
    gap: var(--gapS);
    aspect-ratio: 1/1.5;
    max-height: 200px;
    overflow: auto;
    border-top: 3px solid var(--bg1);
    border-left: 3px solid var(--bg1);
    padding: var(--paddingR);
}

.calenderTableHead {
    background-color: var(--color1);
    aspect-ratio: initial;
}

.calenderTableData {}

.calenderListItem {}

.calenderListItem[data-full-size="false"] .calenderShowMoretoggle {
    display: none !important;
}

.calenderListItem[data-full-size="false"] .listItemTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}