*,
*::before,
*::after {
    box-sizing: border-box;
    border: 1px solid red !important;
}

*:not(svg, svg *) {
    all: unset;
}

:root {
    --color1: #c4ebfa;
    --color2: #cecffd;
    --color3: #fff3fd;
    --color4: #fdf6d9;

    --bg1: #f7f8fa;
    --bg2: #ffffff;

    --shade1: #aeb0b1;
    --shade2: #2a2512;

    /* es s r l el */

    /* zindex: 1, 10, 100, 1000, 9999 */

    /* sizes */
    --sizeR: 1rem;

    /* font sizes */
    --fontSizeES: .5rem;
    --fontSizeS: .7rem;
    --fontSizeR: 1rem;

    /* padding */
    --paddingR: 1rem;

    /* gap */
    --gapS: .5rem;
    --gapR: 1rem;

    /* border radius */
    --borderRadiusES: .2rem;
    --borderRadiusR: 1rem;
    --borderRadiusL: 2rem;
    --borderRadiusEL: 50%;

    --sas: 800px;


}


@font-face {
    font-family: poppinsRegular;
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("fonts/Roboto.ttf");
}

@font-face {
    font-family: manrope;
    src: url("fonts/Manrope.ttf");
}


head,
script {
    display: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    align-content: flex-start;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    position: relative;
    font-family: roboto;
}

div {
    display: block;
}

svg {
    width: var(--sizeR);
    aspect-ratio: 1/1;
    fill: var(--shade1);
}



h1 {
    /* title */
    font-family: manrope;

}

h2 {
    /* common headings */
    font-weight: bold;
    color: var(--shade2);
    font-size: var(--fontSizeR);
    font-family: manrope;
}

h3 {
    /* sub headings */
}

h4 {
    /* highlighted text */
    color: var(--shade1);
    font-size: var(--fontSizeS);
}




/* custom classes */
.input1,
.textarea1 {
    padding: var(--paddingR);
    border-radius: var(--borderRadiusES);
    border: 1px solid var(--shade1);
}

.input1:focus,
.textarea1:focus {
    outline: none;
}

.input1::placeholder,
.textarea1::placeholder {
    opacity: 0.5;
}

.allCont {
    display: grid;
    align-content: flex-start;
    gap: var(--gapR);
    padding: var(--paddingR);
    grid-template-columns: 1fr;
    background-color: var(--bg1);
}



.main {
    display: grid;
    align-content: flex-start;
    background-color: var(--bg2);
    padding: var(--paddingR);
    border-radius: var(--borderRadiusR);
}

/* mobile */
@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
}










/* specific components */

/* sidebar */
.sidebar {
    width: 300px;
    z-index: 1000;
    background-color: var(--bg2);
    display: grid;
    align-content: flex-start;
}

.sidebarIconCont {
    display: grid;
    align-content: flex-start;
}


















/* navbar */
.navbar {
    background-color: var(--bg1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.navMenu {
    display: flex;
    gap: var(--gapR);
    position: relative;
    align-items: center;
}

.navMenuItem {
    display: grid;
    align-content: flex-start;
}

.navMoreOptionsCont {
    display: flex;
    gap: var(--gapS);
}


/* mobile */
@media only screen and (max-width: 800px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: none;
    }

    .navMoreOptionsCont {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem;
        background-color: var(--bg2);
    }
}