<nav class="navbar">
    <!-- search bar -->
    <div
        style="border: 1px solid var(--shade1); display: flex; gap: var(--gapS); padding: .8rem 1rem; border-radius: var(--borderRadiusL); font-size: var(--fontSizeS);">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
            </svg>
        </div>

        <input type="text" id="navSearchInput" placeholder="Search" style="width: min(200px, 30vw);" />
    </div>

    <!-- menu -->
    <ul class="navMenu">
        <div class="navMoreOptionsCont">
            <!-- when you have more nav items use this -->

            <!-- <li>
                <p>text 1</p>
            </li>

            <li>
                <p>text 2</p>
            </li> -->
        </div>

        <li id="navbarIconCont" class="navMenuItem">
            <div style="display: flex; gap: var(--gapS);">
                <div style="display: grid; justify-content: flex-start; justify-items: flex-end;">
                    <h2>Linda Adora</h2>

                    <h4>Admin</h4>
                </div>

                <div
                    style="width: 2.5rem; height: 2.5rem; border-radius: var(--borderRadiusEL); overflow: hidden; display: block;">
                    <img style=""
                        src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&w=600" />
                </div>
            </div>
        </li>
    </ul>
</nav>