<nav class="navbar"
    style=" background-color: var(--bg1); display: flex; justify-content: space-between; align-items: center; white-space: nowrap; position: sticky; top: 0; left: 0; padding-block: var(--paddingR); z-index: 999;">
    <style>
        .navMenu {
            display: flex;
            gap: var(--gapR);
            position: relative;
            align-items: center;
        }

        .navMenuItem {
            display: grid;
            align-content: flex-start;
        }

        .navMoreOptionsCont {
            display: flex;
            gap: var(--gapS);
        }

        /* mobile */
        @media only screen and (max-width: 800px) {
            .sidebar {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }

            .navMoreOptionsCont {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                padding: 1rem;
                background-color: var(--bg2);
            }
        }
    </style>

    <!-- search bar -->
    <div style="display: flex; gap: var(--gapS);">
        <button id="sidebarOpenBttn" class="mobileViewToggle">
            <img src="../../public/bar.svg" class="svgImg" />
        </button>

        <search-bar id="feeSearchButton" placeholder=""></search-bar>
    </div>

    <!-- menu -->
    <ul class="navMenu">
        <div class="navMoreOptionsCont">
            <!-- when you have more nav items use this -->

            <!-- <li>
                <p>text 1</p>
            </li>

            <li>
                <p>text 2</p>
            </li> -->
        </div>

        <li id="navbarIconCont" class="navMenuItem">
            <div style="display: flex; gap: var(--gapS);">
                <div style="display: grid; justify-content: flex-start; justify-items: flex-end;">
                    <h2>Linda Adora</h2>

                    <h4>Admin</h4>
                </div>

                <div
                    style="width: 2.5rem; height: 2.5rem; border-radius: var(--borderRadiusEL); overflow: hidden; display: block;">
                    <img style=""
                        src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&w=600" />
                </div>
            </div>
        </li>
    </ul>
</nav>